@font-face {
  font-family: "iconfont"; /* Project id 4899214 */
  src: url("../fonts/iconfont.woff2?t=1745052881188") format("woff2"),
    url("../fonts/iconfont.woff?t=1745052881188") format("woff"),
    url("../fonts/iconfont.ttf?t=1745052881188") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e61d";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e61e";
}

.icon-shuzhuo:before {
  content: "\e624";
}

.icon-ditie:before {
  content: "\e625";
}
